body {
  background: #f8f4ee;
  margin: 0;
  padding: 0;
  height: 100%;
}

#root {
  height: 100%;
}

.home-page {
  background: #f8f4ee;
  height: 100%;
  width: 100%;
}

.home-page,.title {
  position: fixed;
  top: 50%;
  left: 50%;
  font-size: 40px;
  transform: translate(-50%,-50%);
}